In [1]:
#Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format,
#please write a program to print the company name of a given email address.
#Both user names and company names are composed of letters only.

#Input Format: The first line of the input contains an email address. 
#Output Format: Print the company name in a single line. 
    
#Example; Input: john@google.com Output: google.

In [3]:
import re

email = "samrudhi@google.com"
pattern = "\w+@(\w+).com"
ans = re.findall(pattern,email)
print(ans)

['google']

In [4]:
#Question 2 : Write a program that accepts a comma-separated sequence of words as input and 
#prints the words in a comma-separated sequence after sorting them alphabetically.

#Input Format: The first line of input contains words separated by the comma. 
#Output Format: Print the sorted words separated by the comma.
    
#Example: Input: without,hello,bag,world Output: bag,hello,without,world

In [5]:
items=[x for x in input("enter data to sort").split(',')]
items.sort()
print ("Sorted data are ",' '.join(items))

enter data to sortbag,hello,why,this,one
Sorted data are  bag hello one this why

In [7]:
#Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
#Input Format: The first line contains n-1 numbers with each number separated by a space.
#Output Format: Print the missing number Example: Input: 1 2 4 6 3 7 8
#Output: 5Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [8]:
def missing_number(num_list):
    return sum(range(num_list[0],num_list[-1]+1)) - sum(num_list)

print(missing_number([1,2,3,4,6,7,8]))

print(missing_number([10,11,12,14,15,16,17]))

5
13

In [9]:
#Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
#Example: If the input list is 12 24 35 24 88 120 155 88 120 155 
#Then the output should be 12 24 35 88 120 155

In [11]:
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(list(set(duplicate)))

[2, 4, 5, 10, 20]

In [12]:
#Question 3: Create your own Jupyter Notebook for Sets.

In [13]:
set_of_things = {'name', 'sammy', 'cestudent'}
print(type(set_of_things))

<class 'set'>

For accessing items

In [14]:
set_of_things = {'name', 'sammy', 'cestudent'}
for x in set_of_things:
  print(x)

name
sammy
cestudent

In [15]:
print("sammy" in set_of_things) #prints if sammy is in the set and returns true if found.

True

Add Items

In [16]:
set_of_things = {'name', 'sammy', 'cestudent'}
set_of_things.add("loves_food")

print(set_of_things)

{'name', 'sammy', 'cestudent', 'loves_food'}

In [17]:
set_of_things = {'name', 'sammy', 'cestudent'}
set_of_things.update(["orange", "mango", "grapes"])

print(set_of_things)

{'sammy', 'cestudent', 'orange', 'grapes', 'name', 'mango'}

Get the Length of a Set

In [18]:
print(len(set_of_things))

6

Remove Item

In [19]:
set_of_things = {'sammy', 'cestudent', 'orange', 'grapes', 'name', 'mango'}
set_of_things.remove("mango")

print(set_of_things)

{'sammy', 'grapes', 'cestudent', 'orange', 'name'}

In [20]:
set_of_things = {'sammy', 'cestudent', 'orange', 'grapes', 'name', 'mango'}
x = set_of_things.pop()

print(x)

print(set_of_things)

sammy
{'grapes', 'cestudent', 'orange', 'name', 'mango'}

Join Two Sets

In [21]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'b', 'c'}

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [23]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}